.form-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'K2D', sans-serif;
	  font-family: 'Pridi', serif;
    text-align: left;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .form-signin {
    width: 100%;
    max-width: 80%;
    padding: 2rem;
    /* margin: auto; */
    background-color: #f3f3f3;
  }